<div class="container">
  <h1>{{ note.description }}</h1>
  <div class="list-group">
    <li class="list-group-item" *ngFor="let noteElement of notesElements; first as isFirst; last as isLast">
      <div class="row">
        <div class="col-sm-8">
          <div class="btn-group">
            <button class="btn btn-default" [disabled]="isFirst" type="button">
              <span class="oi oi-arrow-top"></span>
              <span class="oi oi-arrow-top"></span>
            </button>
            <button class="btn btn-default" [disabled]="isFirst" type="button">
              <span class="oi oi-arrow-top"></span>
            </button>
          </div>
          <!-- onclick="'setForm(' + ${noteElement.id} + ',' + ${noteElement.sortElementVm.first} + ');'"
          onclick="'setForm(' + ${noteElement.id} + ',' + ${noteElement.sortElementVm.prev} + ');'" -->
          <span>{{ noteElement.description }}</span>
        </div>
        <div class="col-sm-4">
          <div class="float-right">{{ noteElement.lastModified | date:'yyyy-MM-dd' }}
            <div class="btn-group">
              <button class="btn btn-default" [disabled]="isLast" type="button">
                <span class="oi oi-arrow-bottom"></span>
              </button>
              <button class="btn btn-default" [disabled]="isLast" type="button">
                <span class="oi oi-arrow-bottom"></span>
                <span class="oi oi-arrow-bottom"></span>
              </button>
            </div>
            <!-- onclick="'setForm(' + ${noteElement.id} + ',' + ${noteElement.sortElementVm.next} + ');'" -->
            <!-- onclick="'setForm(' + ${noteElement.id} + ',' + ${noteElement.sortElementVm.last} + ');'" -->
          </div>
        </div>
      </div>
    </li>
  </div>
  <!--
  <form id="swapForm" style="visibility: hidden" th:action="@{/notes-elements/swap}" method="post">
    <input type="number" name="noteElementId" id="noteElementId"></input>
    <input type="number" name="sortBy" id="sortBy"></input>
    <button type="submit">Отправить</button>
  </form>
  <script>
      function setForm(elementId, newSortBy) {
          document.getElementById('noteElementId').value = elementId;
          document.getElementById('sortBy').value = newSortBy;
          document.getElementById('swapForm').submit();
      }
  </script>
  -->
</div>
