<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Открыть навигацию">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" [ngClass]="{'active':module === 'home'}" href="#">Главная <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [ngClass]="{'active':module === 'notes'}" href="#/notes">Заметки</a>
      <a *ngIf="!isAuthenticated()" class="nav-item nav-link" href="#">
        <span class="oi oi-account-login"></span>&nbsp;Вход
      </a>
      <a *ngIf="isAuthenticated()" class="nav-item nav-link" href="#" (click)="logout()">
        <span class="oi oi-account-logout"></span>&nbsp;Выход
      </a>
    </div>
  </div>
</nav>
