<div class="container">
    <h1>Список заметок</h1>
    <app-note-editor [newNote]="editedNote" [isNewNoteFormOpened]="isNoteEditFormOpen" (result)="actualizeListOfNotes($event)"></app-note-editor>
    <div class="list-group">
        <div *ngFor="let note of notes" class="list-group-item">
            <div class="row align-items-center">
                <div class="lnk col-8" routerLink="/notes-elements/{{note.id}}">{{ note.description }}</div>
                <div class="lnk col-3 text-right" routerLink="/notes-elements/{{note.id}}">{{ note.lastModified | date:'yyyy-MM-dd' }}</div>
                <div class="col-1 dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" (click)="initEditForm(note)">Изменить</button>
                        <button class="dropdown-item" type="button" (click)="deleteNote(note)">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>