<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Diaries</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <table border="1">
            <tr th:each="note : ${notes}">                
            <td>                
                <a th:href="@{'/notes-elements/' + ${note.id}}" th:text="${note.description}">Description</a>
            </td>
            </tr>            
        </table>
    </body>
</html>