<div class="container">
  <h1>{{ note.description }}</h1>
  <app-note-element-editor
    *ngIf="isEditFormOpen" 
    [element]="editedNoteElement" 
    (result)="actualizeListOfNotesElements($event)"
    (exit)="closeEditForm()">
  </app-note-element-editor>
  <div class="row">
    <div class="col-sm-12" *ngIf="!isEditFormOpen">
      <button type="button" class="btn btn-light float-right" (click)="initCreateForm()">
          <span class="oi oi-plus"></span>
      </button>
    </div>  
  </div>
  <div class="list-group">
    <li class="list-group-item" *ngFor="let noteElement of notesElements; first as isFirst; last as isLast">
      <div class="row align-items-center">
        <div class="btn-group">
          <button class="btn btn-default" [disabled]="isFirst" type="button" (click)="swap(noteElement.id, 'First');">
            <span class="oi oi-arrow-top"></span>
            <span class="oi oi-arrow-top"></span>
          </button>
          <button class="btn btn-default" [disabled]="isFirst" type="button" (click)="swap(noteElement.id, 'Prev');">
            <span class="oi oi-arrow-top"></span>
          </button>
        </div>
        <div class="col-sm-8 lnk" (click)="initEditForm(noteElement)">{{ noteElement.description }}</div>
        <div class="col-sm text-right lnk" (click)="initEditForm(noteElement)">{{ noteElement.lastModified | date:'yyyy-MM-dd' }}</div>  
        <div class="btn-group">
          <button class="btn btn-default" [disabled]="isLast" type="button" (click)="swap(noteElement.id, 'Next');">
            <span class="oi oi-arrow-bottom"></span>
          </button>
          <button class="btn btn-default" [disabled]="isLast" type="button" (click)="swap(noteElement.id, 'Last');">
            <span class="oi oi-arrow-bottom"></span>
            <span class="oi oi-arrow-bottom"></span>
          </button>
        </div>
      </div>
    </li>
  </div>
</div>
