<div class="container">
  <h1>{{ note.description }}</h1>
  <div class="list-group">
    <li class="list-group-item" *ngFor="let noteElement of notesElements; first as isFirst; last as isLast">
      <div class="row">
        <div class="col-sm-8">
          <div class="btn-group">
            <button class="btn btn-default" [disabled]="isFirst" type="button" (click)="swap(noteElement.id, 'First');">
              <span class="oi oi-arrow-top"></span>
              <span class="oi oi-arrow-top"></span>
            </button>
            <button class="btn btn-default" [disabled]="isFirst" type="button" (click)="swap(noteElement.id, 'Prev');">
              <span class="oi oi-arrow-top"></span>
            </button>
          </div>
          <span>{{ noteElement.description }}</span>
        </div>
        <div class="col-sm-4">
          <div class="float-right">{{ noteElement.lastModified | date:'yyyy-MM-dd' }}
            <div class="btn-group">
              <button class="btn btn-default" [disabled]="isLast" type="button" (click)="swap(noteElement.id, 'Next');">
                <span class="oi oi-arrow-bottom"></span>
              </button>
              <button class="btn btn-default" [disabled]="isLast" type="button" (click)="swap(noteElement.id, 'Last');">
                <span class="oi oi-arrow-bottom"></span>
                <span class="oi oi-arrow-bottom"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </div>
</div>
